<% layout('layouts/boilerplate') -%>;

    <div id="pages1">
        <div id="placedetails">
            <img src="<%= states.img %>">
            <div id="det">
                <div id="pname">
                    <h2 id="naame">
                        <%= states.name%>
                    </h2>
                </div>
                <div id="pdetails">
                    <h3>
                        <%= states.des%>
                    </h3>
                </div>
            </div>
        </div>

        <div id="places">
            <div id="place">
                <h4>Things TO See & DO</h4>
                <br><br>
                <div id="destination">
                    
                        <div id="carding">
                            <div id="left">
                                <img src="https://images.unsplash.com/photo-1529588549443-d40e806f583e?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="">
                            </div>
                            <div id="right">
                                <h5>City Palace</h5>
                                <p>City Palace, Jaipur, which includes the Chandra Mahal and Mubarak Mahal palaces and
                                    other
                                    buildings, is a palace complex in Jaipur, the capital of the Rajasthan state, India.
                                    It
                                    was the seat of the Maharaja of Jaipur, the head of the Kachwaha Rajput clan.</p>
                            </div>
                            <div id="bt">
                                <button id="nearest-hotel">Plan Trip</button>
                            
                            </div>

                        </div>
                        

                </div>
            </div>

        </div>
    </div>